@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU:wght@100..400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0 0 0.5rem;
    display: flex;
    flex-direction: column;
}

body.light-mode {
    background-color: #FFE3E1;
    color: #333333;
}

body.dark-mode {
    background-color: #145374;
    color: #E8E8E8;
    border-color: #e5e5cb;
}

header {
    width: 100%;
}

header.light-mode {
    background-color: #FF9494;
}

header.dark-mode {
    background-color: #00334E;
}

header.navbar-container {
    max-width: 600px;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    margin-top: 20px;
    border-radius: 20px;
}

header.navbar-container .logo {
    display: flex;
    gap: 10px;
}

header.navbar-container .logo img {
    width: 60px;
}

header.navbar-container .logo h3 {
    font-family: 'Playwrite CU', 'Nunito', sans-serif;
    line-height: 30px;
    color: #FFFFFF;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}

main {
    padding: 2rem 4rem;
    display: flex;
}

main aside {
    position: relative;
    inset-block: 0;
    right: 65px;
}


main aside .rank ul {
    padding: 1.5rem 1rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin: auto;
    background-color: #2d3e50;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .rank li {
    list-style-type: none;
}

main aside .rank li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    transition: all 0.1s ease-in-out;
}

main aside .rank li a:hover {
    color: #89b0d9;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Membuat item turun ke baris baru jika ruang tidak cukup */
    gap: 1rem;
    justify-content: center;
}

.sidebar {
    width: 10%;
    position: sticky;
    top: 0; /* Sticky dari bagian atas */
    display: flex;
    flex-direction: column; /* Elemen diatur secara vertikal */
    gap: 1rem; /* Jarak antar-elemen */
}

.sidebar .card ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.sidebar .card ul li {
    display: flex;
    align-items: center; /* Mengatur gambar dan teks secara vertikal */
    gap: 10px; /* Jarak antara gambar dan teks */
    margin-bottom: 1rem;

}

.sidebar .card ul li img {
    width: 30px;
    height: 30px;
    object-fit: cover; /* Gambar tetap proporsional */
    border-radius: 50%; /* Membuat gambar menjadi lingkaran */

}


.sidebar .card ul li p {
    margin: 0;
    font-size: 1rem;
}


.anime-article {
    display: flex;
    flex-basis: calc(30% - 1rem); /* Membagi setiap artikel menjadi sepertiga dari container */
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    background-color: #FFD1D1;
    overflow: scroll;
}

.anime-article.dark-mode {
    background-color: #5588A3;
}

.anime-article img {
    width: 100%;
    height: 100%; /* Pastikan gambar mengisi penuh wrapper */
    object-fit: cover; /* Menghindari gambar terdistorsi */
    border-radius: 10px;
    display: block;
}

.anime-article .anime-information {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.anime-article .anime-information h4 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.anime-article .anime-information p {
    max-width: 100%;
    padding: 0.3rem;
}

.anime-badge {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.anime-badge p {
    margin: 0;
    border-radius: 10px;
    padding: 5px;
}

.badge-ranking {
    background-color: #F4C430;
    color: white !important;
}

.badge-studio {
    background-color: #00E497;
    color: white !important;
}


.image-wrapper {
    position: relative;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;;
    background-color: rgba(0, 0, 0, 0.6); /* Warna overlay semi-transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Tidak terlihat secara default */
    transition: opacity 0.3s ease; /* Transisi halus untuk efek hover */
    pointer-events: none; /* Supaya overlay tidak menangkap klik sebelum hover */
}

.overlay-button {
    background-color: white;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Tampilkan overlay saat gambar di-hover */
.image-wrapper:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.image-wrapper {
    position: relative;
    height: 100%; /* Membuat wrapper mengikuti tinggi gambar */
    overflow: hidden; /* Memastikan tidak ada elemen yang keluar dari wrapper */
}


.bg-transparent {
    background-color: transparent;
}

.border-0 {
    border-width: 0;
}

footer {
    display: flex;
    width: 60%;
    background-color: #FF9494;
    margin: 1rem auto 2rem; /* Tambahkan margin bawah di sini */
    border-radius: 0.5rem;
}

footer.dark-mode {
    background-color: #00334E;
}


.profile {
    display: flex;
    width: 40%;
}

.profile img {
    width: 20%;
    margin: 15px;
    border-radius: 50%;
}

.profile-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.profile-information p {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}


footer ul {
    width: 60%;
    display: flex;
    list-style: none;
    gap: 12px;
    margin: auto;
    text-align: center;
    padding: 0;
}

footer ul li {
    margin: auto;
}

footer ul li a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer ul li a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.anime-widget {
    display: none; /* Sembunyikan widget secara default */
    position: absolute; /* Pastikan posisi diatur */
    top: 0; /* Atur posisi sesuai kebutuhan */
    left: 110%; /* Atur agar tetap di sebelah kanan */
    background-color: #FF9494; /* Sesuaikan dengan warna */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease; /* Transisi halus untuk opacity */
    z-index: 10; /* Pastikan widget di atas elemen lainnya */
    width: 350px;
}

.anime-widget h4 {
    margin-bottom: 10px; /* Jarak bawah untuk judul */
    font-size: 1.3rem; /* Ukuran font untuk judul */
    color: white;
}

.anime-widget.dark-mode {
    background-color: #00334E;
}

.anime-widget ol {
    padding-left: 0; /* Hilangkan padding kiri pada list */
    list-style-type: none; /* Hilangkan bullet */
}

.anime-widget li {
    display: flex; /* Gunakan flex untuk tata letak item */
    align-items: center; /* Rata tengah secara vertikal */
    margin-bottom: 10px; /* Jarak antara item */
}

.anime-widget img {
    width: 70px; /* Atur lebar gambar */
    height: auto; /* Biarkan tinggi otomatis untuk menjaga aspek rasio */
    margin-right: 10px; /* Jarak kanan untuk gambar */
    border-radius: 3px; /* Sudut yang sedikit membulat untuk gambar */
}

.anime-recommendation-information {
    margin: 0;
    display: flex; /* Gunakan flex untuk informasi anime */
    flex-direction: column; /* Tata letak vertikal */
}

.anime-recommendation-information h5 {
    font-size: 1rem;
    margin: 0;
}

.anime-recommendation-information p {
    margin: 0;
}


@media (max-width: 1400px) {
    .anime-article {
        flex-basis: calc(50% - 1rem); /* Menampilkan 2 artikel per baris di layar yang lebih kecil */
    }

    .anime-widget {
        width: 300px; /* Kurangi lebar widget untuk layar lebih kecil */
        padding: 15px; /* Tambah padding untuk tampilan yang lebih baik */
    }

    header.navbar-container {
        max-width: 700px;
    }

    footer {
        width: 80%;
    }

    .profile {
        display: flex;
        width: 60%;
    }
}


/* Responsiveness untuk tampilan di perangkat lebih kecil */
@media (max-width: 1024px) {
    .anime-article {
        flex-basis: calc(50% - 1rem); /* Menampilkan 2 artikel per baris di layar yang lebih kecil */
    }

    .anime-widget {
        width: 300px; /* Kurangi lebar widget untuk layar lebih kecil */
        padding: 15px; /* Tambah padding untuk tampilan yang lebih baik */
    }


    main {
        padding: 1rem 2rem;
        display: flex;
    }


    main aside {
        position: relative;
        inset-block: 0;
        right: 35px;
    }


    header.navbar-container {
        max-width: 450px;
    }

    footer {
        width: 80%;
    }

    .profile {
        display: flex;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .anime-article {
        width: 100%;
        flex-basis: 100%; /* Menampilkan 1 artikel per baris di layar lebih kecil */
    }


    .anime-widget {
        display: none; /* Sembunyikan widget secara default */
        position: absolute; /* Pastikan posisi diatur */
        top: 30%; /* Atur posisi sesuai kebutuhan */
        left: 10%; /* Atur agar tetap di sebelah kanan */
        background-color: #FF9494; /* Sesuaikan dengan warna */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: opacity 0.3s ease; /* Transisi halus untuk opacity */
        z-index: 10; /* Pastikan widget di atas elemen lainnya */
        width: 300px;
    }

    main {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    main aside {
        display: block; /* Tetap mempertahankan block-level */
        position: static; /* Ubah dari absolute menjadi static */
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    main aside .rank ul {
        padding: 1.5rem 1rem;
        border-radius: 12px;
        margin: auto;
        background-color: #2d3e50;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    header.navbar-container {
        max-width: 300px;
    }


    .profile-information p {
        color: white;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }

    footer {
        position: static;
        width: 95%;
    }

    .profile img {
        margin: 15px;
        border-radius: 50%;
    }

    .profile-information p {
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
        margin: 0;
    }

    .profile img {
        width: 50%;
        border-radius: 50%;
    }

    footer ul {
        width: 60%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 12px;
        margin: 10px auto 10px;
        text-align: center;
        padding: 0;
    }


}

/* Tambahan untuk widget agar lebih responsif pada perangkat mobile */
.anime-widget {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Tambah shadow lebih halus */
}
